<div [@.disabled]="true">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Column Chart">
        <ng-template matTabContent>
          <canvasjs-chart #columnChart
            [options]="columnChartOptions"
            [styles]="{ width: '100%', height: '360px' }"
          ></canvasjs-chart>
        </ng-template>
      </mat-tab>
      <mat-tab label="Pie Chart">
        <ng-template matTabContent>
          <canvasjs-chart #pieChart
            [options]="pieChartOptions"
            [styles]="{ width: '100%', height: '360px' }"
          ></canvasjs-chart>
        </ng-template>
      </mat-tab>
      <mat-tab label="Line Chart">
        <ng-template matTabContent>
          <canvasjs-chart #lineChart
            [options]="lineChartOptions"
            [styles]="{ width: '100%', height: '360px' }"
          ></canvasjs-chart>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>