<div class="dashboard-title">
  <h1>Dashboard MicroService</h1>
</div>
<!-- Reste du contenu de la page -->

<div class="home-container">
  <div class="top-right-button-container">
    <button class="custom-button" (click)="logout()">Logout</button>
  </div>
  <div class="dashboard-tile chart-tile">
    <app-chart-tile></app-chart-tile>
  </div>
  <div class="dashboard-tile empty-tile">
    <app-methods-tile [methods]="methods"></app-methods-tile>
  </div>
  <div class="dashboard-tile empty-tile">
    <!-- Ici, vous pouvez ajouter d'autres tuiles -->
  </div>
  <div class="dashboard-tile empty-tile">
    <!-- Ici, vous pouvez ajouter d'autres tuiles -->
  </div>
  <div class="dashboard-tile empty-tile">
    <!-- Ici, vous pouvez ajouter d'autres tuiles -->
  </div>
  <div class="dashboard-tile empty-tile">
    <!-- Ici, vous pouvez ajouter d'autres tuiles -->
  </div>
    
  
    
  </div>

  <ng-template matTabContent class="tab-content">

  